*{
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.65);
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
}
/* Background */
body {
  background: linear-gradient(89deg, rgba(34,193,195,1) 1%, rgba(253,187,45,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #FFFFFF;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Navigation Bar  */
#nav {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3% 3% 3% 3%;
  overflow: hidden;
  margin-bottom: 5%;
  max-width: 100%;
}

.logo {
  padding-right: 15%;
}

.sitetitle {
  font-size: 50px;
  text-decoration: none;
}

.tabbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15%;
}

.tabs {
  padding-left: 20px;
  display: block;
  float: left;
  text-decoration: none;
  font-size: 18px;

}

.tabs:hover{
  text-decoration: underline;
  color: #000000;
}

/* Index.HTML */
.frontcontainer {
  display: grid;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 5%
}

.desc1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .3);
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  border-radius: 5%;
}

.title {
  font-size: 50px;
  color: white;
}

.frontimage{
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  border-radius: 5%;
}

/* About.HTML */
.about, .onlinecourses, .onlineguides {
  background: rgba(255, 255, 255, 0.8);
  padding: 5% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.aboutitems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutpic {
  width: 50%;
  height: 50%;
  border-radius: 5%;
}

.aboutdesc {
  font-size: 23px;
  padding-left: 5%;
}

.italics {
  font-style: italic;
}

/* Covid19.HTML */
.covidchart {
  background: rgba(255, 255, 255, 0.8);
  padding: 5% 10% 5% 10%;
  margin: 5%;
}

.jhudashboard {
  width: 100%;
  height: 700px;
}

/* Resources.HTML */
.caption {
  font-size: 22px;
  font-style: italic;
  padding-left: 2%;
}

.ocitem, .ogitem {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  align-items: center;
}

.ocpic, .ogpic {
  display: flex;
  justify-content: center;
  max-height: 30%;
  width: 20%;
  border-radius: 20%;
}

.ocpic:hover, .ogpic:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.ocdescnlink, .ogdescnlink {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  font-size: 22px;
}

.link {
  color: #5D7B83;
}

.link:hover {
  color: #000000;
  text-decoration: underline;
}


/* Footer  */
#contact {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 5% 10%;
  max-width: 100%;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infobox {
  margin: 5px auto 5px auto;
  height: 50px;
  width: 350px;
  border-radius: 5px;
}

/* Breakpoints  */
@media screen and (max-width: 1300px) {
  .ocitem, .ogitem {
    flex-direction: column;
  }
  .ocpic, .ogpic {
    width: 30%;
  }
  .ocdescnlink, .ogdescnlink{
    text-align: center;
    padding-left: 0%;
  }
}
